In [29]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [30]:
url = 'https://en.wikipedia.org/wiki/List_of_companies_of_Nepal'
page = requests.get(url)
# print(page.text)
soup = BeautifulSoup(page.content,'html.parser')

In [31]:
table = soup.find('table', class_ = 'wikitable')
columns = table.find_all('th')

headers = [column_name.text.strip() for column_name in columns]
headers

['Name', 'Industry', 'Sector', 'Headquarters', 'Founded', 'Notes']

In [51]:
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [Name, Industry, Sector, Headquarters, Founded, Notes]
Index: []

In [56]:
row_data = table.find_all('tr')[1:]

for tr in row_data:
    td = tr.find_all('td')
    individual_row_data = [data.text.strip() for data in td]
    df.loc[len(df)] = individual_row_data

In [80]:
# df.to_csv('company_list_Nepal.csv' , index=False)
from sqlalchemy import create_engine,text
import pandas as pd
import logging

# Enable SQLAlchemy logging
logging.basicConfig()
logging.getLogger('sqlalchemy.engine').setLevel(logging.INFO)


db_username = 'your_username'
db_password = ''
db_host = 'localhost'
db_port = '5432'
db_name = 'your_database_name'

# Create the connection string
connection_string = f'postgresql+psycopg2://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
# Create the database engine
engine = create_engine(connection_string)

# Read CSV file into a DataFrame
df = pd.read_csv('company_list_Nepal.csv')
# df.head()
# Test the connection (optional)
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT version();"))
        for row in result:
            print(row)
except Exception as e:
    print("Error message:", e)

table_name = 'nepal_company_list'
# Check if the table exists in the database
try:
    with engine.connect() as conn:
        result = conn.execute(text(f"SELECT * FROM information_schema.tables WHERE table_name = '{table_name}';"))
        if result.rowcount == 0:
            print("Table does not exist.")
        else:
            print("Table exists.")
except Exception as e:
    print("Error message:", e)


# Load the DataFrame into the PostgreSQL table
try:
    df.to_sql(table_name, engine, if_exists='replace', index=False)
    print(f"Data loaded successfully into table '{table_name}'")
except Exception as e:
    print("Error while loading data into PostgreSQL:", e)

# Check the data in the table
try:
    with engine.connect() as conn:
        result = conn.execute(text(f"SELECT * FROM {table_name} LIMIT 5;"))
        rows = result.fetchall()
        if len(rows) == 0:
            print("Table is empty.")
        else:
            for row in rows:
                print(row)
except Exception as e:
    print("Error message:", e)

INFO:sqlalchemy.engine.Engine:select pg_catalog.version()
INFO:sqlalchemy.engine.Engine:[raw sql] {}
INFO:sqlalchemy.engine.Engine:select current_schema()
INFO:sqlalchemy.engine.Engine:[raw sql] {}
INFO:sqlalchemy.engine.Engine:show standard_conforming_strings
INFO:sqlalchemy.engine.Engine:[raw sql] {}
INFO:sqlalchemy.engine.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.Engine:SELECT version();
INFO:sqlalchemy.engine.Engine:[generated in 0.00093s] {}
INFO:sqlalchemy.engine.Engine:ROLLBACK
INFO:sqlalchemy.engine.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.Engine:SELECT * FROM information_schema.tables WHERE table_name = 'nepal_company_list';
INFO:sqlalchemy.engine.Engine:[generated in 0.00165s] {}
INFO:sqlalchemy.engine.Engine:ROLLBACK
INFO:sqlalchemy.engine.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.Engine:SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
INFO:sqlalchemy.engine.Engine:[generated in 0.00055s] {'table_name': 'nepal_company_list', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
INFO:sqlalchemy.engine.Engine:
CREATE TABLE nepal_company_list (
	"Name" TEXT,
	"Industry" TEXT,
	"Sector" TEXT,
	"Headquarters" TEXT,
	"Founded" TEXT,
	"Notes" TEXT
)


INFO:sqlalchemy.engine.Engine:[no key 0.00034s] {}
INFO:sqlalchemy.engine.Engine:INSERT INTO nepal_company_list ("Name", "Industry", "Sector", "Headquarters", "Founded", "Notes") VALUES (%(Name__0)s, %(Industry__0)s, %(Sector__0)s, %(Headquarters__0)s, %(Founded__0)s, %(Notes__0)s), (%(Name__1)s, %(Industry__1)s, %(Sector__1)s, % ... 17573 characters truncated ... _167)s, %(Industry__167)s, %(Sector__167)s, %(Headquarters__167)s, %(Founded__167)s, %(Notes__167)s)
INFO:sqlalchemy.engine.Engine:[generated in 0.00051s (insertmanyvalues) 1/1 (unordered)] {'Industry__0': 'Consumer services', 'Name__0': 'Agni Air', 'Sector__0': 'Airlines', 'Headquarters__0': 'Kathmandu', 'Founded__0': '2006', 'Notes__0': 'Airline, defunct 2006', 'Industry__1': 'Financials', 'Name__1': 'Agriculture Development Bank', 'Sector__1': 'Banks', 'Headquarters__1': 'Kathmandu', 'Founded__1': '1968', 'Notes__1': 'Bank, rural credit institution', 'Industry__2': 'Consumer services', 'Name__2': 'Air Nepal International', 'Sector__2': 'Airlines', 'Headquarters__2': 'Kathmandu', 'Founded__2': '2005', 'Notes__2': 'Airline, defunct 2006', 'Industry__3': 'Consumer services', 'Name__3': 'Asian Airlines', 'Sector__3': 'Airlines', 'Headquarters__3': 'Kathmandu', 'Founded__3': '2002[6]', 'Notes__3': 'Airline, defunct 2006', 'Industry__4': 'Consumer services', 'Name__4': 'Bajeko Sekuwa', 'Sector__4': 'Restaurants & bars', 'Headquarters__4': 'Kathmandu', 'Founded__4': '?', 'Notes__4': 'Restaurant chain', 'Industry__5': 'Consumer services', 'Name__5': 'Base Air', 'Sector__5': 'Airlines', 'Headquarters__5': '?', 'Founded__5': '2004', 'Notes__5': 'Airline, defunct 2007', 'Industry__6': 'Consumer services', 'Name__6': 'Bhatbhateni supermarket', 'Sector__6': 'Retail Chain', 'Headquarters__6': 'Kathmandu', 'Founded__6': '1984', 'Notes__6': None, 'Industry__7': 'Consumer services', 'Name__7': 'Buddha Air', 'Sector__7': 'Airlines', 'Headquarters__7': 'Jawalakhel', 'Founded__7': '1997', 'Notes__7': 'Domestic airline', 'Industry__8': 'Conglomerates', 'Name__8': 'Chaudhary Group' ... 908 parameters truncated ... 'Founded__159': '1999', 'Notes__159': 'Charter helicopter airline', 'Industry__160': 'Consumer services', 'Name__160': 'Sita Air', 'Sector__160': 'Airlines', 'Headquarters__160': 'Kathmandu', 'Founded__160': '2003', 'Notes__160': 'Airline', 'Industry__161': 'Consumer services', 'Name__161': 'Skyline Airways', 'Sector__161': 'Airlines', 'Headquarters__161': 'Kathmandu', 'Founded__161': '1999', 'Notes__161': 'Airline, defunct 2003', 'Industry__162': 'Telecommunications', 'Name__162': 'SmartCell', 'Sector__162': 'Mobile telecommunications', 'Headquarters__162': 'Lalitpur', 'Founded__162': '2008', 'Notes__162': 'GSM', 'Industry__163': 'Financials', 'Name__163': 'Standard Chartered Nepal', 'Sector__163': 'Banks', 'Headquarters__163': 'Kathmandu', 'Founded__163': '1987', 'Notes__163': 'Bank, significant subsidiary of Standard Chartered (UK)', 'Industry__164': 'Telecommunications', 'Name__164': 'Subisu', 'Sector__164': 'Fixed line telecommunications', 'Headquarters__164': 'Kathmandu', 'Founded__164': '1999', 'Notes__164': 'Cable Internet', 'Industry__165': 'Consumer services', 'Name__165': 'Tara Air', 'Sector__165': 'Airlines', 'Headquarters__165': 'Kathmandu', 'Founded__165': '2009', 'Notes__165': 'Airline', 'Industry__166': 'Telecommunications', 'Name__166': 'WorldLink', 'Sector__166': 'Fixed line telecommunications', 'Headquarters__166': 'Kathmandu', 'Founded__166': '1995', 'Notes__166': 'Internet and network service provider', 'Industry__167': 'Consumer services', 'Name__167': 'Yeti Airlines', 'Sector__167': 'Airlines', 'Headquarters__167': 'Kathmandu', 'Founded__167': '1998', 'Notes__167': 'Airline'}
INFO:sqlalchemy.engine.Engine:COMMIT
INFO:sqlalchemy.engine.Engine:BEGIN (implicit)
INFO:sqlalchemy.engine.Engine:SELECT * FROM nepal_company_list LIMIT 5;
INFO:sqlalchemy.engine.Engine:[generated in 0.00065s] {}
INFO:sqlalchemy.engine.Engine:ROLLBACK

('PostgreSQL 14.11 (Homebrew) on aarch64-apple-darwin23.2.0, compiled by Apple clang version 15.0.0 (clang-1500.1.0.2.5), 64-bit',)
Table does not exist.
Data loaded successfully into table 'nepal_company_list'
('Agni Air', 'Consumer services', 'Airlines', 'Kathmandu', '2006', 'Airline, defunct 2006')
('Agriculture Development Bank', 'Financials', 'Banks', 'Kathmandu', '1968', 'Bank, rural credit institution')
('Air Nepal International', 'Consumer services', 'Airlines', 'Kathmandu', '2005', 'Airline, defunct 2006')
('Asian Airlines', 'Consumer services', 'Airlines', 'Kathmandu', '2002[6]', 'Airline, defunct 2006')
('Bajeko Sekuwa', 'Consumer services', 'Restaurants & bars', 'Kathmandu', '?', 'Restaurant chain')